services:
  sql.server:
    environment:
      MSSQL_SA_PASSWORD: "SQLServer2022#@!"
      ACCEPT_EULA: "Y"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -No -U sa -P SQLServer2022#@! -Q \"SELECT 1\" || exit 1" ]
      interval: 10s
      retries: 10
      start_period: 60s
      timeout: 3s
    ports:
      - "2433:1433"

  users.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:80/health" ]
      interval: 10s
      retries: 10
      start_period: 15s
      timeout: 3s
    ports:
      - "5130:80"

  transactions.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:80/health" ]
      interval: 10s
      retries: 10
      start_period: 15s
      timeout: 3s
    ports:
      - "5131:80"

  keycloak:
    command:
      - "start-dev"
      - "--import-realm"
      - "--http-port=8070"
    environment:
      - KEYCLOAK_IMPORT=/opt/keycloak/data/import/realm-export.json
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    healthcheck:
      #https://gist.github.com/sarath-soman/5d9aec06953bbd0990c648605d4dba07?permalink_comment_id=5120472#gistcomment-5120472
      test:
        [
          "CMD-SHELL",
          "exec 3<>/dev/tcp/127.0.0.1/9000;echo -e 'GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - 8070:8070

  web:
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:80/health" ]
      interval: 10s
      retries: 10
      start_period: 15s
      timeout: 3s
    ports:
      - "80:80"
      - "4200:80"
