<div class="flex flex-col justify-evenly h-screen">
  <div class="flex justify-between align-middle m-4">
    <div class="flex flex-col justify-center align-middle">
      <p class="font-semibold">Olá, {{ user?.name }}</p>
      <p class="font-extralight">{{ dateUtils.getDateName() }}</p>
    </div>
    <img class="size-16" src="assets/icons/account_circle.png" />
  </div>

  <div
    class="flex flex-row justify-between items-start m-4 border border-black box-border rounded-xl bg-custom_2"
  >
    <div class="flex flex-col justify-between mt-2">
      <p class="font-extrabold ml-2">Conta</p>
      <div class="flex items-center ml-2">
        <p>
          R$ @if (isBalanceVisible) {
          {{ balance.toFixed(2) }}
          } @else { ****.** }
        </p>
        <button class="flex ml-1" (click)="toggleBalanceVisibility()">
          @if(isBalanceVisible) {
          <mat-icon
            aria-hidden="false"
            aria-label="Visibility"
            fontIcon="visibility"
          ></mat-icon>
          } @else {
          <mat-icon
            aria-hidden="false"
            aria-label="Visibility"
            fontIcon="visibility_off"
          ></mat-icon>
          }
        </button>
      </div>
    </div>
    <img class="size-16" src="assets/logo.png" />
  </div>

  <div
    class="flex flex-col backdrop:justify-between items-start m-4 border border-black box-border rounded-xl bg-custom_2"
  >
    <div class="flex p-2 w-full justify-between items-center text-center">
      <p class="font-bold">Seus Cartões</p>
      <a class="text-lg font-bold" href="/cards">...</a>
    </div>
    <div class="flex flex-col w-full">
      @for (card of cards; track card.id) {
      <div
        class="flex flex-row m-4 justify-between items-center border border-black box-border rounded-xl bg-gradient-to-b from-gray-400 to-gray-600"
      >
        <div class="flex flex-col">
          <p class="ml-1 mt-1">{{ card.holderName }}</p>
          <p class="ml-1 text-xs">{{ cardUtils.getCensoredNumber(card) }}</p>
          <p class="ml-1 mt-2">{{ card.color }} | {{ card.type }}</p>
        </div>
        <img class="size-16" src="assets/icons/cards/mastercard.svg" />
      </div>
      }
    </div>
  </div>

  <div
    class="flex flex-col justify-between items-start m-4 border border-black box-border rounded-xl bg-custom_2"
  >
    <div class="flex p-2 w-full justify-between items-center text-center">
      <p class="font-bold">Extrato</p>
      <a class="text-lg font-bold" href="/statement">...</a>
    </div>

    <div class="flex flex-row w-full">
      @for (transaction of recentTransactions; track transaction.id) {
      <div
        class="flex p-1 mb-2 w-full justify-between items-center text-center"
      >
        <div class="flex flex-col items-start">
          <p>+ R$ {{ transaction.value }}</p>
          <button (click)="viewTransaction(transaction)">
            {{ transaction.receiverName }}
          </button>
        </div>
        <div class="flex justify-between">
          <p class="text-sm">
            {{ dateUtils.getDateFormatted(transaction.date) }}
          </p>
          <p class="text-sm ml-1">
            {{ dateUtils.getHourFormatted(transaction.date) }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
