@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

@layer components {
   .custom-bg {
     @apply 
     bg-custom-bg; /* Aplicando cor de fundo personalizada */
     }
    }

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto;
  background-color: #e9e9e9;
}
