name: CI with .NET and Angular

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  TEST_TAG: easypay:test

jobs:
  dotnet:
    name: .NET Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal

  angular:
    name: Angular Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: src/Web/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: src/Web

      - name: Test
        run: npm run test:ci
        working-directory: src/Web

      - name: Build
        run: npm run build
        working-directory: src/Web

  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: docker compose up -d

      - name: Test
        run: docker run --network easypay_default appropriate/curl -s --retry 10 --retry-connrefused http://localhost:4200/
